h7 {
font-size: 100px;
font-weight: bold;
text-align: center;
color: khaki;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");

}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}
h3 {

}
h5 {
  background-color: skyblue
}
.price {
  font-weight: bold;
  color: blue;
}
